<div class="row">{% for post in site.categories["home-safes-lock"] %}
  <div class="col-lg-4 col-md-6 margin-btm-40">
    <div itemscope itemtype="http://schema.org/Product">
      <div class="portfolio-sec">
        <span class="label label-{% if post.subcategory == 'Digital Lock' %}green{% endif %}">{{ post.subcategory }}</span>
        <div class="portfolio-thumnail image-margin-center">
          <a itemprop="url" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><amp-img itemprop="image" src="{{ site.url }}/images/products/{{ post.image }}.jpg" width="1000" height="667" layout="responsive" alt="{{ post.title }}"></amp-img></a>
        </div>
        <div class="portfolio-desc text-center">
          <h4 class="portfolio-post-title"><span itemprop="name">{{ post.title }}</span></h4>
          <span itemprop="brand" class="portfolio-post-cat">QIDOTS</span>
          <h4><a itemprop="url" href="{{ site.url }}{{ post.url }}" class="btn theme-btn-default btn-lg">Read More</a></h4>
        </div>
      </div>
    </div>
  </div>{% endfor %}
</div>