<div class="row">{% for post in site.categories["hotel-safes-lock"] %}
  <div class="col-lg-4 col-md-6 margin-btm-40">
    <div class="portfolio-sec">
      <span class="label label-{% if post.subcategory == 'Press Keypad Digital Lock' %}green{% endif %}{% if post.subcategory == 'Touch Screen Digital Lock' %}blue{% endif %}{% if post.subcategory == 'Membrane Keypad Digital Lock' %}red{% endif %}">{{ post.subcategory }}</span>
      <div class="portfolio-thumnail image-margin-center">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><amp-img src="{{ site.url }}/images/products/{{ post.image }}.jpg" width="1000" height="667" layout="responsive" alt="{{ post.title }}"></amp-img></a>
      </div>
      <div class="portfolio-desc text-center">
        <h4 class="portfolio-post-title">{{ post.title }}</h4>
        <span class="portfolio-post-cat">Qidots</span>
        <h4><a href="{{ site.url }}{{ post.url }}" class="btn theme-btn-default btn-lg">Read More</a></h4>
      </div>
    </div>
  </div>{% endfor %}
</div>