<div class="sidebar-box">
  <div itemscope itemtype="http://schema.org/Organization">
    <h4><span itemprop="name">Contact Info</span></h4>
    <p><i class="fas fa-home"></i> <span itemprop="address">{{ site.address }}</span></p>
    <p><i class="fas fa-phone"></i> <span itemprop="telephone">{{ site.tel }}</span></p>
    <p><i class="fas fa-fax"></i> <span itemprop="fax">{{ site.fax }}</span></p>
    <p><i class="fas fa-envelope"></i> <a href="mailto:{{ site.email }}"><span itemprop="email">{{ site.email }}</span></a></p>
  </div>
</div>
<hr>
<div class="sidebar-box">
  <h4>Home Safes Lock</h4>
  <ul class="cat-list">{% for post in site.categories["home-safes-lock"] %}
    <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="hover-color">{{ post.title }</a></li>{% endfor %}
  </ul>
</div>
<hr>
<div class="sidebar-box">
  <h4>Hotel Safes Lock</h4>
  <ul class="cat-list">{% for post in site.categories["hotel-safes-lock"] %}
    <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="hover-color">{{ post.title }}</a></li>{% endfor %}
  </ul>
</div>
<hr>
<div class="sidebar-box">
  <h4>Cabinet Lock</h4>
  <ul class="cat-list">{% for post in site.categories["cabinet-lock"] %}
    <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="hover-color">{{ post.title }}</a></li>{% endfor %}
  </ul>
</div>
<hr>
<div class="sidebar-box">
  <h4>News</h4>{% for post in site.categories["news"] limit:18 %}
  <div class="recent">
    <p><a href="{{ site.url }}{{ post.url }}" class="hover-color">{{ post.title }}</a></p>
    <span class="recent-date">{{ post.date | date:"%d %b %Y" }}</span>
  </div>{% endfor %}
</div>