---
layout: pages
permalink: /blog/
category: blog
title: Blog
keywords: one way degassing valve
description: Wojin one way degassing valve reduce internal pressure to make packaging transport safety.
---
<div class="col-md-8">{% for post in site.categories["blog"] %}
  <div class="blog-post-section margin-btm-40">
    <div class="blog-post-img image-margin-center"><a href="{{ site.url }}{{ post.url }}"><amp-img src="{{ site.url }}/images/blog/{{ post.image }}.jpg" width="750" height="466" layout="responsive" alt="{{ post.title }}"></amp-img></a></div>
    <div class="blog-post-header">
      <h3><a href="{{ site.url }}{{ post.url }}" class="hover-color" title="{{ post.title }}">{{ post.title }}</a></h3>
    </div>
    <div class="blog-post-info">{{ post.date | date:"%d %b %Y" }}</div>
    <div class="blog-post-detail"><p>{{ post.description }}</p></div>
    <div class="blog-post-more text-center"><a href="{{ site.url }}{{ post.url }}" class="btn theme-btn-default btn-lg">Read More</a></div>
  </div>{% endfor %}
</div>
<div class="col-md-4 hidden-xs">
  {% include page-nav.html %}
</div>