---
layout: pages
---
<div class="row">
  <div class="col-md-6 margin-btm-40 image-margin-center">
    <amp-img itemprop="image" src="{{ site.url }}/images/products/{{ page.image }}.jpg" width="1000" height="667" layout="responsive" alt="{{ post.title }}"></amp-img>
  </div>
  <div class="col-md-6 margin-btm-40">
    <p><b>Product Name:</b> <span itemprop="name">{{ page.title }}</span></p>
    <p><span itemprop="name">{{ page.coffee-bag }}</span></p>
    <a href="mailto:{{ site.email }}" class="btn btn-radius theme-btn-color">Email: {{ site.email }}</a>
  </div>
  <div class="col-md-12">
    <div class="portfolio-single-desc">
      {{ content }}
      <div class="row">
        <h3 class="margin-top-20 margin-btm-20 text-center">Reviews</h3>
        <div class="col-md-6 margin-btm-20">
          <div class="reviews-box">
            <p>"{{ page.reviews-description-1 }}"</p>
            <p class="text-center"><span class="testi-person">---{{ page.customer-1 }}---</span></p>
            <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
          </div>
        </div>
        <div class="col-md-6 margin-btm-20">
          <div class="reviews-box">
            <p>"{{ page.reviews-description-2 }}"</p>
            <p class="text-center"><span class="testi-person">---{{ page.customer-2 }}---</span></p>
            <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>  </p>
          </div>
        </div>
        <div class="row">{% if page.vimeo == 'vimeo' %}
          <h3 class="margin-top-20 margin-btm-20 text-center">Video</h3>
          <amp-vimeo data-videoid="{{ page.video }}" layout="responsive" width="16" height="9"></amp-vimeo>{% endif %}{% if page.vimeo2 == 'vimeo' %}
          <div class="margin-top-30"></div>
          <amp-vimeo data-videoid="{{ page.video2 }}" layout="responsive" width="16" height="9"></amp-vimeo>{% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h3 class="heading-sec margin-top-50">{{ page.type }}</h3>
    {% include products-list.html %}
  </div>
</div>