---
layout: pages
---
<amp-vimeo data-videoid="{{ page.video }}" layout="responsive" width="16" height="9"></amp-vimeo>{% if page.vimeo2 == 'vimeo' %}
<div class="margin-top-30"></div>
<amp-vimeo data-videoid="{{ page.video2 }}" layout="responsive" width="16" height="9"></amp-vimeo>{% endif %}
<div itemscope itemtype="http://schema.org/Organization">
  <p class="text-center">
    <a href="mailto:{{ site.email }}" class="btn btn-radius theme-btn-color margin-top-20">Email: <span itemprop="email">{{ site.email }}</span></a>
  </p>
</div>